/*image slider*/
.slidebox {
    max-width:700px;
    margin:0 auto;
    position:relative;
    float: left;
}
.slidebox .slidelist {
    position:relative;
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox .slidelist .slideitem {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: #212529;
    width:100%;
    transition:all 1s;
}
.slidebox .slidelist .slideitem > a {
    display:block;
    width:auto;
    position:relative;
}
.slidebox .slidelist .slideitem > a img {
    max-width:100%;
}

.slidebox .slide-control [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox .slide-control [class*="control"] label.prev {
    left:-50px;
    background:transparent url('../asset/left-arrow.png') center center / 50% no-repeat;
}
.slidebox .slide-control [class*="control"] label.next {
    right:-50px;
    background:transparent url('../asset/right-arrow.png') center center / 50% no-repeat;
}

[name="slide"] {
    display:none;
}
#slide01:checked ~ .slidelist .slideitem {
    left:0;
}
#slide02:checked ~ .slidelist .slideitem {
    left:-100%;
}
#slide03:checked ~ .slidelist .slideitem {
    left:-200%;
}

.slide-control [class*="control"] {
    display:none;
}
#slide01:checked ~ .slide-control .control01 {
    display:block;
}
#slide02:checked ~ .slide-control .control02 {
    display:block;
}
#slide03:checked ~ .slide-control .control03 {
    display:block;
}

/*image slider-1*/
.slidebox-1 {
    max-width:700px;
    margin:0 auto;
    position:relative;
    float: left;
}
.slidebox-1 .slidelist-1 {
    position:relative;
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox-1 .slidelist-1 .slideitem-1 {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: #212529;
    width:100%;
    transition:all 1s;
}
.slidebox-1 .slidelist-1 .slideitem-1 > a {
    display:block;
    width:auto;
    position:relative;
}
.slidebox-1 .slidelist-1 .slideitem-1 > a img {
    max-width:100%;
}

.slidebox-1 .slide-control-1 [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox-1 .slide-control-1 [class*="control"] label.prev {
    left:-50px;
    background:transparent url('../asset/left-arrow.png') center center / 50% no-repeat;
}
.slidebox-1 .slide-control-1 [class*="control"] label.next {
    right:-50px;
    background:transparent url('../asset/right-arrow.png') center center / 50% no-repeat;
}

[name="slide-1"] {
    display:none;
}
#slide01-1:checked ~ .slidelist-1 .slideitem-1 {
    left:0;
}
#slide02-1:checked ~ .slidelist-1 .slideitem-1 {
    left:-100%;
}
#slide03-1:checked ~ .slidelist-1 .slideitem-1 {
    left:-200%;
}

.slide-control-1 [class*="control"] {
    display:none;
}
#slide01-1:checked ~ .slide-control-1 .control01-1 {
    display:block;
}
#slide02-1:checked ~ .slide-control-1 .control02-1 {
    display:block;
}
#slide03-1:checked ~ .slide-control-1 .control03-1 {
    display:block;
}

/*image slider-2*/
.slidebox-2 {
    max-width:700px;
    margin:0 auto;
    position:relative;
    float: left;
}
.slidebox-2 .slidelist-2 {
    position:relative;
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox-2 .slidelist-2 .slideitem-2 {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: #212529;
    width:100%;
    transition:all 1s;
}
.slidebox-2 .slidelist-2 .slideitem-2 > a {
    display:block;
    width:auto;
    position:relative;
}
.slidebox-2 .slidelist-2 .slideitem-2 > a img {
    max-width:100%;
}

.slidebox-2 .slide-control-2 [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox-2 .slide-control-2 [class*="control"] label.prev {
    left:-50px;
    background:transparent url('../asset/left-arrow.png') center center / 50% no-repeat;
}
.slidebox-2 .slide-control-2 [class*="control"] label.next {
    right:-50px;
    background:transparent url('../asset/right-arrow.png') center center / 50% no-repeat;
}

[name="slide-2"] {
    display:none;
}
#slide01-2:checked ~ .slidelist-2 .slideitem-2 {
    left:0;
}
#slide02-2:checked ~ .slidelist-2 .slideitem-2 {
    left:-100%;
}

.slide-control-2 [class*="control"] {
    display:none;
}
#slide01-2:checked ~ .slide-control-2 .control01-2 {
    display:block;
}
#slide02-2:checked ~ .slide-control-2 .control02-2 {
    display:block;
}

/*image slider-3*/
.slidebox-3 {
    max-width:700px;
    margin:0 auto;
    position:relative;
    float: left;
}
.slidebox-3 .slidelist-3 {
    position:relative;
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox-3 .slidelist-3 .slideitem-3 {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: #212529;
    width:100%;
    transition:all 1s;
}
.slidebox-3 .slidelist-3 .slideitem-3 > a {
    display:block;
    width:auto;
    position:relative;
}
.slidebox-3 .slidelist-3 .slideitem-3 > a img {
    max-width:100%;
}

.slidebox-3 .slide-control-3 [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox-3 .slide-control-3 [class*="control"] label.prev {
    left:-50px;
    background:transparent url('../asset/left-arrow.png') center center / 50% no-repeat;
}
.slidebox-3 .slide-control-3 [class*="control"] label.next {
    right:-50px;
    background:transparent url('../asset/right-arrow.png') center center / 50% no-repeat;
}

[name="slide-3"] {
    display:none;
}
#slide01-3:checked ~ .slidelist-3 .slideitem-3 {
    left:0;
}
#slide02-3:checked ~ .slidelist-3 .slideitem-3 {
    left:-100%;
}

.slide-control-3 [class*="control"] {
    display:none;
}
#slide01-3:checked ~ .slide-control-3 .control01-3 {
    display:block;
}
#slide02-3:checked ~ .slide-control-3 .control02-3 {
    display:block;
}

/*image slider-4*/
.slidebox-4 {
    max-width:700px;
    margin:0 auto;
    position:relative;
    float: center;
}
.slidebox-4 .slidelist-4 {
    position:relative;
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox-4 .slidelist-4 .slideitem-4 {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color: #212529;
    width:100%;
    transition:all 1s;
}
.slidebox-4 .slidelist-4 .slideitem-4 > a {
    display:block;
    width:auto;
    position:relative;
}
.slidebox-4 .slidelist-4 .slideitem-4 > a iframe {
    max-width:100%;
}

.slidebox-4 .slide-control-4 [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox-4 .slide-control-4 [class*="control"] label.prev {
    left:-50px;
    background:transparent url('../asset/left-arrow.png') center center / 50% no-repeat;
}
.slidebox-4 .slide-control-4 [class*="control"] label.next {
    right:-50px;
    background:transparent url('../asset/right-arrow.png') center center / 50% no-repeat;
}

[name="slide-4"] {
    display:none;
}
#slide01-4:checked ~ .slidelist-4 .slideitem-4 {
    left:0;
}
#slide02-4:checked ~ .slidelist-4 .slideitem-4 {
    left:-100%;
}

.slide-control-4 [class*="control"] {
    display:none;
}
#slide01-4:checked ~ .slide-control-4 .control01-4 {
    display:block;
}
#slide02-4:checked ~ .slide-control-4 .control02-4 {
    display:block;
}